/*
 * sphinxdoc.css_t
 * ~~~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- sphinxdoc theme.  Originally created by
 * Armin Ronacher for Werkzeug.
 *
 * :copyright: Copyright 2007-2011 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Arial, sans-serif, serif;
    font-size: 15px;
    letter-spacing: -0.05em;
    line-height: 1.3em;
    background-color: #F5F4EF;
    padding: 0;    
    margin: 0 auto;
    width: 950px;
    -moz-box-shadow: 0px 0px 15px #bbb;
    -webkit-box-shadow: 0px 0px 15px #bbb;
    box-shadow: 0px 0px 15px #bbb;
}

div.document {
    background-color: white;
    text-align: left;
}

div.bodywrapper {
    margin: 0 240px 0 0;
    border-right: 1px solid #ccc;
}

div.body {
    margin: 0;
    padding: 0.5em 20px 20px 20px;
}


/*Banner*/
#banner {
    height: 100px;
    background: #fff;
}

#vlinux-logo {
    margin-top: 10px;
    margin-left: 10px;
}

#nav {
    background: #48443d url('menu_bg.png') repeat-x;
    height: 30px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav li {
    display: inline;
    float: left;
    margin: 0;
}

#nav a:link, #nav a:visited {
	color: #fff;
	display: inline-block;
	padding: 5px 20px;
	height: 20px;
	text-decoration: none;
	font-size: 0.8em;
	border-bottom: none;
}

#nav a:hover, #nav a:active, #nav .active a:link, #nav .active a:visited  {
	background: #89c912;
	color: #fff;
	text-shadow: #666 2px 2px 2px;
}


div.related {
    font-size: 0.8em;
}

div.related ul {
    /*background-image: url(navigation.png);*/
    background: #fafafa;
    height: 2em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: #48443d;
    border-bottom: #48443d 1px dotted;
}

div.related ul li a:hover {
    color: #89c912;
    text-decoration: none;
    border-bottom: #89c912 1px dotted;
    
}

div.sphinxsidebarwrapper {
    padding: 0;
}

div.sphinxsidebar {
    margin: 0;
    padding: 0.5em 15px 15px 0;
    width: 210px;
    float: right;
    font-size: 0.8em;
    text-align: left;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin: 1em 0;
    font-size: 1.8em;
    line-height: 1.3em;
    padding: 0.2em 0.5em;
    color: white;
    /*border: 1px solid #86989B;*/
    background-color: #000000;
}

div.sphinxsidebar h3 a {
    color: white;
}

div.sphinxsidebar ul {
    padding-left: 1.5em;
    margin-top: 7px;
    padding: 0;
    line-height: 130%;
    font-size: 14px;
    margin-left: 1em;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}

div.footer {
    display: none;
    background-color: #FAFAFA;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    clear: both;
    height: 2em;
    line-height: 1.75em;
    padding: 0;
    text-align: center;
}

div.footer a,
div.footer a:hover {
    border-bottom: 1px dotted #48443D;
    text-decoration: none;
}

/* -- body styles ----------------------------------------------------------- */

p {    
    margin: 0.8em 0 0.5em 0;
}

a {
    color: #48443d;
    text-decoration: none;
    border-bottom: #48443d 1px dotted;
    font-weight: bold;
}

a:hover {
    color: #89c912;
    text-decoration: none;
    border-bottom: #89c912 1px dotted;
}

/*div.body a {
    text-decoration: underline;
}*/

h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    font-size: 2.5em;
    line-height: 1em;
    color: #48443d;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    font-size: 2em;
    line-height: 0.8em;
    padding: 0;
    color: #48443d;
}

h3 {
    margin: 1em 0 -0.3em 0;
    font-size: 1.5em;
    color: #48443d;
}

div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: #48443d;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

a.headerlink {
    color: #c60f0f!important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
}

a.headerlink:hover {
    background-color: #ccc;
    color: white!important;
}

cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}

hr {
    display: none;
}
.body hr {
    border: 1px solid #abc;
    margin: 2em;
}

a tt {
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

td.linenos pre {
    padding: 0.5em 0;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989B;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid #86989B;
    font-weight: bold;
    background-color: #AFC1C4;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}

.viewcode-back {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}


/* custom */
#twitter a {
	border-bottom: none;
}

#twitter a:hover {
	border-bottom: none;
}

.twtr-widget {
	font-family: font-family: 'Droid Sans', serif !important;
}
    
#disqus_thread {
	padding: 0.5em 20px 20px 20px;
	width: 670px;
	float: left;
}

p#comments {
	padding: 0.5em 20px 20px 20px;
}
