# CODEOWNERS file for automatic PR review assignment
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners
* @niccokunzmann @stevepiercy

# Documentation, except docstrings in `src`
*.md @stevepiercy
*.rst @stevepiercy
/.readthedocs.yml @stevepiercy @niccokunzmann
/.vale.ini @stevepiercy
/CONTRIBUTING.md @niccokunzmann @stevepiercy
/docs/ @stevepiercy @abe-101
/Makefile @stevepiercy
/styles @stevepiercy

# Core calendar logic
/src/ @niccokunzmann @SashankBhamidi @stevepiercy

# Tests
/src/icalendar/tests/ @niccokunzmann @SashankBhamidi

# Fuzzing
/src/icalendar/fuzzing/ @ennamarie19 @niccokunzmann @SashankBhamidi

# CI and infrastructure
/.coveragerc @niccokunzmann
/.github/ @niccokunzmann @SashankBhamidi @stevepiercy
/.pre-commit-config.yaml @niccokunzmann @SashankBhamidi @stevepiercy
/bootstrap.py @niccokunzmann @stevepiercy
/buildout.cfg @niccokunzmann @stevepiercy
/pyproject.toml @niccokunzmann @stevepiercy
/tox.ini @niccokunzmann @stevepiercy

# Security
/SECURITY.md @niccokunzmann @stevepiercy

# Release stuff
/CHANGES.rst @niccokunzmann @stevepiercy
/MANIFEST.in @niccokunzmann
