*.mo
*.py?
*.sw?
*~
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
/.hypothesis/
/.prompts/
/.tox/
/.venv/
/docs/styles/Microsoft/
/example.ics
/src/icalendar/_version.py
_build/
build/
coverage.xml
dist/
/htmlcov/
uv.lock
