__pycache__
/_build/
/.coverage
/.hypothesis/
/.idea/
/.prompts/
/.tox/
/.venv/
/.vscode/
/build/
/coverage.xml
/dist/
/docs/styles/Microsoft/
/example.ics
/htmlcov/
/src/icalendar/_version.py
/uv.lock
