repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2 # also update pyproject.toml
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--config, "pyproject.toml", --fix]
      # Run the formatter.
      - id: ruff-format
        args: [--config, "pyproject.toml"]
